
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
  }
 

.img-fluid{
  
    /* The image used */
    background-image: url("../images/body/bus2\ \(1\).jpg");
     
    /* Set a specific height */
    min-height:75vh; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed  !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
}

  .info {
    width: 90%;
    
  }


.moto-text_system_6{
    color:#3f3f3f;
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.moto-text_system_2{
    color:#3f3f3f;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
}
.moto-text_normal{
    color:#818181;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}
.container-top{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 padding: 4rem 4rem;
}
.about-us{
  margin-top: 1rem !important;
}