
.about-us{
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: rgba(245, 245, 245, 0.897);*/
    width:90%;
    
    margin-top:2rem;
    margin-bottom: 2rem;
    border-top: 0.1px solid rgba(117, 117, 117, 0.199) ;
}


.h-6-about-us{
    color:#528cf7 ;
    font-weight: 600;
}
.about-us-btn{
    background-color:#528cf7  ;
    border-width: 0 ;
    border-radius: 10px;
}
.about-us-btn:hover{
    background-color: #FFA673 ;
}
.text-about-us{
    color: #3f3f33;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    margin-bottom: 1rem;
}
.abtus{
    color: #3f3f33;
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 28px;
}