@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");



p {
  margin: 0px;
}


.animation {
  min-height: 70vh;
  font-family: "Poppins", sans-serif;
}

.card {
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 25px;
  margin: 20px 5px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: transform .2s;
}
.card:hover{
  transform: scale(1.1);
}
.card .fas.fa-arrow-right {
  position: absolute;
  bottom: -100px;
  background-color: #528cf7;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: white;
  opacity: 0;
  transform: translateY(50%);
  transition: all 0.5s ease;
  border-width: 0;
}

.card:hover .fas.fa-arrow-right {
  bottom: 0px;
  opacity: 1;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.card .fas.fa-arrow-right:hover{
  background-color: #FFA673;
}
.card .fab.fa-envira,
.fas.fa-cut,
.fas.fa-people-carry {
  font-size: 40px;
  background-color: #0000000d;
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #528cf7;
}

.card .h4 {
  font-weight: 700;
}

.animation .content {
  max-width: 300px;
}

.animation .content .h-6 {
  color: #528cf7;
  font-weight: 600;
}

.animation .content .btn.btn-primary {
  padding: 10px;
  background-color: #528cf7;
  color: white;
  border-radius: 10px;
  border: none;
  box-shadow: none;

}
.animation .content .btn.btn-primary:hover{
  background-color:#FFA673 ;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
  0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.card:hover .fab.fa-envira,
.card:hover .fas.fa-cut,
.card:hover .fas.fa-people-carry {
  color: white;
  background-color: #528cf7;
}
.trip-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  font-size: 15px;
}
@media (max-width: 990px) {
  .animation .content {
    max-width: 100%;
  }
}

@media (max-width: 500px) {
 
   .card:hover{
     transform: scale(1.05);
   }
  .card {
    width: 100%;
  }

  .content {
    padding: 25px;
  }
}

.mb-4{
  color: #3F3F3F !important;
}