

.btn-info{
background-color: transparent;

}
.btn-round {
  background-color: #528cf7 ;
   border: none !important;
    color: rgb(255, 255, 255);
    font-size: large bold;
    font-size: medium;
    
}
.btn-round:hover{
  background-color: #FFA673;
 border-color: #FFA673;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.btn-secondary{
  background-color: gray;
  border-color: gray; 
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 400px;
  }
  .modal-dialog .modal-content {
    padding: 1rem;
  }
}
.modal-header .close {
  margin-top: -1.5rem;
}

.form-title {
  margin: -2rem 0rem 2rem;
}

.btn-round {
  border-radius: 3rem;
}

.delimiter {
  padding: 1rem;
}

.social-buttons .btn {
  margin: 0 0.5rem 1rem;
}

.signup-section {
  padding: 0.3rem 0rem;
}
.text-info{
  color: #528cf7 !important;
}